services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: laravel_app
    volumes:
      - ../:/var/www/html   # <-- monta seu projeto Laravel
    ports:
      - 8000:8000
    depends_on:
      - db
    networks:
      - laravel_network

  db:
    image: mysql:5.7
    container_name: mysql_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: laravel_db
      MYSQL_USER: user
      MYSQL_PASSWORD: userpassword
    ports:
      - 3307:3306
    volumes:
      - ./mysql-data:/var/lib/mysql
    networks:
      - laravel_network

networks:
  laravel_network:
    driver: bridge
